.navbar-brand {
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}

.nav {
  display: flex;
}

mat-toolbar {
  padding: 1rem;
  max-height: 55px;
}

mat-toolbar-row {
  justify-content: space-between;
}

mat-sidenav-container {
  height: calc(205vh - 115vh);
}

mat-sidenav {
  width: 250px;
  background-color: #eee;
}

mat-toolbar {
  background-color: #1976d2;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}