/* header.component.css */

.navbar-brand {
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}

.nav {
  display: flex;
}

mat-toolbar {
  background-color: var(--secondary);
  color: var(--text-dark);
  padding: 1rem;
  max-height: 55px;
}

mat-toolbar-row {
  justify-content: space-between;
}

mat-sidenav-container {
  height: calc(205vh - 115vh);
}

mat-sidenav {
  width: 250px;
  background-color: #eee;
}
