<mat-toolbar>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>

  <span class="spacer"></span>

  <mat-nav-list class="nav">
    <span class="navbar-brand fs-2 fw-bold">
      <img src="assets/car.svg" width="250" height="200" alt="" />
      <app-cart />
    </span>
  </mat-nav-list>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true">
    <mat-list *ngIf="user">
      <mat-list-item>
        <mat-icon matListItemIcon>account_circle</mat-icon>
        <h4 matListItemTitle>{{ user.username }}</h4>
        <p matListItemLine class="demo-2">{{ user.email }}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-nav-list>
      <div mat-subheader>Cars</div>

      <a mat-list-item routerLink="/cars">
        <mat-icon matListItemIcon>dataset</mat-icon>
        Cars
      </a>

      <mat-divider></mat-divider>
      <div div mat-subheader>Users</div>
      <a mat-list-item routerLink="/users/list">
        <mat-icon matListItemIcon>group</mat-icon>
        Users
      </a>

      <button
        *ngIf="authService.isLoggedIn"
        mat-icon-button
        matTooltip="Log Out"
        (click)="logOut()">
        <mat-icon matListItemIcon aria-label="Log out">logout</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
