.cars {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

table {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%; 
  padding: 10px;
}

a,
button {
  margin: 2px;
  padding: 1px;
}
 
button {
  border-style: groove;
  border-color: red;

  &:hover{
    background-color: rgb(250, 28, 28);
  }
}
