<mat-card class="example-card">
  
  <mat-card-title-group>

    <mat-card-title>
      <mat-card-title>{{ car.brand }}</mat-card-title>
    </mat-card-title>

    <mat-card-subtitle>
      {{ car.make }}
    </mat-card-subtitle>

    <img mat-card-md-image src="{{ car.picture }}" alt="Photo of a Car" />
  </mat-card-title-group>

  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onClick()">
      Buy {{car.price}}
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>