<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ car.brand }}</mat-card-title>
  </mat-card-header>

  <img mat-card-xl-image src="{{ car.picture }}" alt="Photo of a Car" />
  <mat-card-content>
    {{ car.make }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onClick()">
      Buy
      <mat-icon>add_shopping_cart</mat-icon>

      {{ car.price | currency: 'ARS' : 'symbol' }}
    </button>
  </mat-card-actions>
</mat-card>
