.dialog-background {
  width: 100vw;
  height: 100vh;
  background-color: var();
  top: 0;
  left: 0;
  display: flex;
  z-index: 99999;
  position: absolute;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.7s;
  scale: 0;

  &.open {
    visibility: visible;
    pointer-events: all;
    scale: 1;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
  }

  .dialog-container {
    background-color: rgba(247, 242, 242, 0.925);
    padding: 1rem;
  }
}

dialog {
  border: none;
  border-radius: 10px;
}
