

.cars {
  display: flex;
  flex-wrap: wrap;
}

table {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

a,
button {
  margin: 5px;
  padding: 1px;
}

button {
  position: absolute;
  right: 20px;
  padding: 25px;
}
