@import 'src/theme.scss';

.rp-filter-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cont {
  max-width: 120px;
}

form {
  display: flex;
  justify-content: center;
}

button {
  padding: 25px;
  margin: 5px;
  bottom: 10px;
}

.custom-primary-button {
  background-color: #2196f3; /* Color primario personalizado */
  color: white;
}
