<div class="boton">
  <button mat-stroked-button color="secondary" (click)="onBackButtonClick()">
    Go Back
  </button>
</div>

<mat-card>
  <mat-card-title>Create a New Car</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="onSaveCar()">
    <mat-card-content>
      <section>
        <mat-form-field appearance="fill">
          <mat-label>Brand</mat-label>
          <input matInput formControlName="brand" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Make</mat-label>
          <input matInput formControlName="make" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Year</mat-label>
          <input
            type="number"
            min="2000"
            max="2025"
            matInput
            formControlName="year"
            required />
        </mat-form-field>
      </section>

      <br />

      <section>
        <mat-form-field appearance="fill">
          <mat-label>KM</mat-label>
          <input
            type="number"
            min="0"
            max="100000"
            matInput
            formControlName="km"
            required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>CM3</mat-label>
          <input
            type="number"
            min="1000"
            max="5000"
            matInput
            formControlName="cm3" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Price $</mat-label>
          <input
            type="number"
            min="2000"
            max="100000"
            matInput
            formControlName="price" />
        </mat-form-field>
      </section>
    </mat-card-content>

    <mat-divider></mat-divider>

    <section>
      <mat-card-actions>
        <button type="button" mat-stroked-button (click)="fileInput.click()">
          Choose Image
        </button>
        <input
          hidden
          (change)="onFileSelected($event)"
          #fileInput
          type="file" />
        <span class="file-name">{{ selectedFile?.name }}</span>
        <button type="submit" mat-stroked-button color="primary">Save</button>
      </mat-card-actions>
    </section>
  </form>
</mat-card>
