:host {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.mat-form-field {
  width: 100%;
  display: block;
}

mat-card-title,
mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;

  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  margin-left: 10px;
}

.aderente {
  display: flex;
  justify-content: space-between;
}

.boton {
  position: absolute;
  left: 20px;
  top: 30px;
  margin: 2px;
}


