/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #914277;
  --primary-light: #ffd8ec;
  --primary-dark: #3b002d;
  --secondary: #2856c9;
  --secondary-light: #dbe1ff;
  --secondary-dark: #00174d;
  --warning: #ba1a1a;
  --background: #fffbff;
  --text-dark: #000000;
  --text-light: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.ng-start-inserted {
  display: flex;
}
